

@media only-screen and (min-width:992px) and (max-width:1200px) {
    #home img {
        width: 210px;
        height: 210px;
    }
    .espelho-one {
        margin-right: 100px;
        margin-left: 100px;
}
}

@media only-screen and (min-width:768px) and (max-width:991px) {
    #home img {
        width: 210px;
        height: 210px;
        display: flex;
        margin-bottom: 15px;
}
.encontre-one-unidade1, .encontre-one-unidade2 {
    width: 225px;
}
.encontre-two-unidade1, .encontre-two-unidade2 {
    width: 225px;
}
.espelho-two {
    width: 500px;
}
.espelho-three {
    width: 500px;
}
#icons {
    top: 118%;
}
#icons-two {
    top: 223%;
}
#icons-three {
    top: 328%;
}
}


@media only screen and (max-width:767px) {
    #home img {
    display: flex;
    width: 225px;
    height: 225px;
    }
    .img-lateral {
        width: 100px;
    }
    .links-one label {
        font-size: 81%;
        margin-right: 7px;
}
    .links-two label {
        font-size: 81%;
        margin-right: 7px;
}
    .links-three label {
        font-size: 81%;
        margin-right: 7px;
}
#icons {
    top: 111%;
}
#icons-two {
    top: 216%;
}
#icons-three {
    top: 323%;
}
#encontre-one, #encontre-two, #encontre-three {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}
.encontre-one-unidade1, .encontre-one-unidade2 {
    padding: 32px;
    width: 239px;
}
.encontre-two-unidade1, .encontre-two-unidade2 {
    padding: 32px;
    width: 239px;
}
.encontre-three-unidade1, .encontre-three-unidade2 {
    padding: 32px;
    width: 239px;
}
.encontre-one-unidade1, .encontre-two-unidade1, .encontre-three-unidade1 {
    margin-top: 130px;
}
.conteudo-sobre-paragrafo-one {
    font-size: small;
}
.espelho-one {
    margin-top: 110px;
    padding-top: 5px;
}
.slider-three-rest img {
    height: 200px;
    width: 370px;
    margin-right: -15px;
}
.slider-three-rest {
    height: 220px;
    width: 350px;
    padding-left: 7px;
    padding-right: 27px;
}

    @media only screen and (max-width: 500px) {
        #home img {
    width: 150px;
    height: 150px;
    display: flex; 
}
        .espelho-one {
    margin-top: 93px;
    padding-top: 3px;
    padding-bottom: 10px;
}
        .conteudo-sobre-paragrafo-one {
    font-size: x-small;
}
}
        
