@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
  }

/*HOME*/

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #bf2f0f;
  justify-content: space-evenly;
}

#home img {
  width: 275px;
  height: 275px;
  box-sizing: border-box;
  border-radius: 20%;
  border: solid 3px #bf2f0f;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e38f1159;
}
.grow img{
  transition: 1s ease;
  }
  
  .grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }


  /*RESTAURANTE PRINCIPAL PÁGINA*/
  .img-lateral{
    position: relative;
    width: 150px;
}
  .links-one {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #94231c;
}
.links-one label {
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #dbcdb1;
    font-weight: bold;
}
.links-one label:hover {
    background-color: #d5b499;
    color: #9c4c29;
    font-weight: bold;
}
.scroll-one {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.sections-one {
    transition: all .4s;
}
.bloco-one {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #dbcdb1;
}
#rd_cardapio-one {
    display: none;
}
#rd_pedido-one {
    display: none;
}
#rd_sobre-one {
    display: none;
}
#rd_encontre-one{
    display: none;
}
#rd_faleconosco-one {
    display: none;
}
#rd_pedido-one:checked ~ .sections-one {
    margin-top: -100vh;
}        
#rd_encontre-one:checked ~ .sections-one {
    margin-top: -200vh;
}
#rd_sobre-one:checked ~ .sections-one {
margin-top: -300vh;
}
#rd_faleconosco-one:checked ~ .sections-one {
      margin-top: -400vh;
      }

/*CARPADIO - PAG RESTAURANTE PRINCIPAL*/
#cardapio-one {
  background-image: url(img-home/bisteca.png);
}
.slider-one-rest {
    display: block;
    height: 293px;
    width: 320px;
    margin: auto;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 240px;
    padding-left: 20px;
    padding-right: 50px;
    background: rgba(252, 250, 250, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
    backdrop-filter: blur(3.1px);
   -webkit-backdrop-filter: blur(3.1px);
  }
  
  .slider-one-rest li {
    list-style: none;
    position:absolute;
  }
  
  .slider-one-rest img  {
    margin: auto;
    height: 500px;
    width: 350px;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
  }
  
  .slider-one-rest input {
    display: none;
  }
  .slider-one-rest label {
    background-color: #94231c;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
  }
  
  .slider-one-rest li:nth-child(1) label {
    right: 330px;
    bottom:-15px;
  }
  
  .slider-one-rest li:nth-child(2) label {
    right: 310px;
    bottom:-15px;
  }
  
  .slider-one-rest li:nth-child(3) label {
    right: 290px;
    bottom:-15px;
  }
  
  .slider-one-rest li:nth-child(4) label {
    right: 270px;
    bottom:-15px;
  }
  
  .slider-one-rest li:nth-child(5) label {
    right: 250px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(6) label {
    right: 230px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(7) label {
    right: 210px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(8) label {
    right: 190px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(9) label {
    right: 170px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(10) label {
    right: 150px;
    bottom:-15px;
  }

  .slider-one-rest li:nth-child(11) label {
    right: 130px;
    bottom:-15px;
  }
  .slider-one-rest li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  /*PEDIDOS*/
#pedido-one{
    background-image: url(img-home/109_515549268.pnj.jpg);
    background-size: cover;
  }
.delivery-espelho1, .delivery-espelho2, .delivery-espelho3 {
  background: rgba(252, 250, 250, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 5%;
  width: 300px;
  margin-bottom: 15px;
}
.pedido-one-texto{
  color: #94231c;
  text-align: center;
}
.pedido-one-texto-link{
  color: #bf2f0f;
  justify-items: center;
  align-items: center;
  text-decoration:none;
  font-weight: 600;
  font-size: larger;
}


/*ENCONTRE-NOS*/
#encontre-one{
  background-image: url(img-home/109_515549268.pnj.jpg);
  background-size: cover;
}
.encontre-one-unidade1, .encontre-one-unidade2 {
  background: rgba(252, 250, 250, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 45px;
  width: 250px;
  margin-left: 15px;
}
.encontre-one-unidade1, h2 p{
  color: #94231c;
  text-align: center;
}
.encontre-one-unidade2, h2 p{
  color: #94231c;
  text-align: center;
}

/*QUEM SOMOS*/
#sobre-one{
  background-image: url(img-home/109_515549268.pnj.jpg);
  background-size: cover;
}
.espelho-one {
  /* From https://css.glass */
    background: rgba(252, 250, 250, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
  .conteudo-sobre-paragrafo-one{
    text-align: justify;
    color: #94231c;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /*FALE CONOSCO*/
#faleconosco-one{
    background-image: url(img-home/109_515549268.pnj.jpg);
    background-size: cover;
  }
.box{
  background: rgba(252, 250, 250, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 032);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
  color: #94231c;
  font-weight: bold;
}
fieldset {
  border: none;

}
.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid #94231c;
  outline: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
  color: #d5b499;
}
.inputUserbox {
  outline: none;
  color: #d5b499;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
position: absolute;
top: 0px;
left: 0px;
pointer-events: none;
transition: .5;
}
.inputUser:focus ~ .labelInput,
 .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: #bf2f0f;
    font-weight: bold;
}
#submit{
  background-image: linear-gradient(to right, rgb(191, 47, 15)  , rgb(94, 2, 2));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover{
  background-image: linear-gradient(to right,rgb(238, 1, 1), rgb(209, 6, 6));
}
